*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background: black;
    display: flex;
    padding: 50px;
    
}
.emoji{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(yellow,yellow);
    
}
.face{
    height: 100%;
    width: 100%;
    animation:face 3s linear infinite ;
}

.eyebrow{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    animation: eyebrow 3s linear infinite;
}
.eyebrow span{
    display: inline-block;
    margin: 0 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: relative;
}
.eyebrow span::before,.eyebrow span::after{
    content:'' ;
    background:black;
    height: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
}
.eyebrow span::before{
    left: -2px;
    right: -2px;
}
.eyebrow span::after{
    right: -2px;
    right: -2px;
}
.eye{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50px;
}
.eye span{
    display: inline-block;
    height: 40px;
    width: 30px;
    margin: 0 22px;
    border-radius: 50%;
    background:black;
}
.mouth {
    height:80px ;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(50% - 30px );
    background: linear-gradient(black,green);
    animation: mouth 3s linear infinite;
}
@keyframes face{
    15%,25%{transform: rotate(25deg) translateX(-35px);}
    45%,65%{transform: rotate(-25deg) translateX(35px);}
    75%,100%{transform: rotate(0deg) translateX(0px);}
}
@keyframes eyebrow{
    15%,65%{top:35px}
    75%,100%,0%{top:15px}
}
@keyframes mouth{
    10%,30% {width:34px;height:34px;left:calc(50% - 17px)}
    50%,70% {width:60px;height:70px;left:calc(50% - 30px)}
    75%,100% {height:80px}
}


